# Security
.env
.streamlit/secrets.toml

# Python cache files
__pycache__
*.py[cod]

# Jupyter Notebook checkpoints and files
*.ipynb_checkpoints
*.ipynb

# macOS system files
.DS_Store

# Virtual environment
venv
env

# Cache directories
.cache

# Log files
log.txt

# Database files
*.db
*.sqbpro
*.sql

user_input.json

